/* stylesheet for to-do-list */
:root {
  --low-color: oklch(67.311% 0.16242 144.231);
  --med-color: oklch(77.025% 0.17409 64.047);
  --high-color: oklch(64.263% 0.21531 28.791);
  --white: oklch(100% 0.00011 271.152);
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: max-content 1fr max-content;
  margin: 0;
  height: 100vh;
}

aside {
  grid-area: 2 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: azure;
}

header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  box-shadow: 0 8px 24px 8px oklch(0% 0 0 / 0.5);
  z-index: 1;
  padding: 0 24px;
}

main {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
}

section {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  background-color: gainsboro;
}

section > button {
  font-size: 2rem;
  height: 100%;
  width: 100%;
  padding: 8px;
}

.tabEntry {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.tabEntry.active {
  background-color: oklch(59.987% 0.00007 271.152); /* darkened */
}

/* .tabEntry.active .tab {
  background-color: white;
} */

/* .tabRemoveBtn {
  display: inline-block;
  margin-left: auto;
  transition: opacity 0.2s;
} */

.emptyState {
  text-align: center;
  opacity: 0.6;
  margin-top: 2rem;
  font-style: italic;
}

.overdue {
  border: 4px solid var(--high-color);
}
.dueSoon {
  border: 4px solid var(--med-color);
}

.card.completed {
  opacity: 0.6;
}

.card.completed .taskName {
  text-decoration: line-through;
}

/* Priority colors */

.priority.low {
  background-color: var(--low-color);
  color: var(--white);
}

.priority.medium {
  background-color: var(--med-color);
  color: var(--white);
}

.priority.high {
  background-color: var(--high-color);
  color: var(--white);
}

.cardFooter.low {
  border-top: 3px solid var(--low-color);
}

.cardFooter.medium {
  border-top: 3px solid var(--med-color);
}

.cardFooter.high {
  border-top: 3px solid var(--high-color);
}
