/* stylesheet for to-do-list

body {
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  margin: 0;
  height: 100vh;
}

button {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 5px black;
  background-color: rgb(210, 130, 130);
  width: 100%;
  padding: 10px;
}

button:hover {
  background-color: rgb(170, 90, 110);
}

aside {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px black solid;
  background-color: rgb(100, 145, 110);
  padding: 30px 20px;

  h1 {
    font-size: 2rem;
    width: 100%;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 15px 0;
  }
}

header {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 230, 145);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

ul {
  list-style: none;
  list-style-position: inside;
  width: 100%;
  margin: 20px;
  padding: 0;
}

li {
  font-size: 1.5rem;
  margin: 0;
  padding: 10px;
}

li:hover {
  font-weight: bolder;
  background-color: rgb(65, 115, 65);
} */
